@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fullCalendar.css');

:root {
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;

  /* CSS For FullCalendar */
  --fc-button-bg-color: theme('colors.emerald.800');;
  --fc-button-border-color: theme('colors.emerald.800');;
  --fc-button-hover-bg-color: theme('colors.emerald.800');
  --fc-button-hover-border-color: theme('colors.emerald.800');;
  --fc-button-active-bg-color: theme('colors.emerald.500');;
  --fc-button-active-border-color: theme('colors.emerald.800');
}

@media (prefers-color-scheme: dark) {
  /* :root { */
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
  /* } */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply text-left;
    @apply font-bold;
    @apply my-6;
  }
  
  h2 {
    @apply text-xl;
    @apply text-left;
    @apply font-bold;
    @apply my-6;
  }

  h3 {
    @apply text-lg;
    @apply my-6;
  }

  ul {
    /* @apply list-inside; */
    @apply pt-2;
    @apply pb-2;
    @apply pl-4;
    list-style-type: circle;
  }
  
  ol {
    @apply pt-2;
    @apply pb-2;
    @apply pl-4;
    list-style-type: decimal;
  }
  
  p, li {
    @apply pb-2;
    @apply my-3;
  
    a {
      @apply text-orange-700;
      @apply underline;
      @apply hover:text-orange-900;
    }
  }
}
