.App {
    .App-header {
      text-align: center;
      background-color: #282c34;
      color: white;
      min-height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
    }

    .App-link {
      color: #61dafb;
    }

    .About {
        margin: 5% 15% 5% 15%;
    }

    .About>h2 {
        text-align: center;
    }
}
